/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  --first-color: hsl(var(--hue), var(--sat), 40%); /*Green/Blue*/
  --first-color-alt: rgb(34, 145, 133);
  --title-color: hsl(var(--hue), 12%, 15%); /*Títle h2*/
  --text-color: hsl(var(--hue), 8%, 35%); 
  --body-color: hsl(var(--hue), 100%, 99%); /*Bgr color*/
  --container-color: rgb(255, 255, 255); /*Color Nav*/
  --color-shadow-navDown: hsla(var(--hue), var(--sat), 15%, 0.15); /*Shadow NavDown*/
  --background-home-img: linear-gradient(270deg, rgba(255,255,255,1) 27%, rgba(38,166,153,1) 86%);

  /*========== Font and typography ==========*/
  --body-font: 'Montserrat', sans-serif;
  --h1-font-size: 2.5rem;
  --normal-font-size: 1rem;
  --tiny-font-size: .625rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 3.5rem;
    --normal-font-size: 1rem;
  }
  .section {
    padding: 7rem 0 2rem;
  }
}

/*========== THEME ==========*/
.change-theme{
  font-size: 1.25rem;
  cursor: pointer;
  transition: .3s;
}


.change-theme:hover{
  color:var(--first-color);
}

/*========== Variables Dark Theme ==========*/
body.dark-theme{
  --first-color: hsl(var(--hue), var(--sat), 40%); /*Green/Blue*/
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: rgb(255, 255, 255); /*Títle h2*/
  --text-color: #8D8D8D;
  --body-color: rgb(29, 29, 29); /*Bgr color*/
  --container-color: rgb(31, 31, 31); /*Color Nav*/
  --color-shadow-navDown: none; /*Shadow NavDown*/
  --background-home-img: linear-gradient(90deg, rgb(29, 29, 29) 27%, rgba(38,166,153,1) 86%);
}


/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  /*margin: var(--header-height) 0 0 0;*/
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

/*=============== SCROLLBAR ===============*/
/*General width*/
::-webkit-scrollbar{
  width:10px;  
}
/*Scrollbar full body*/
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 10px var(--body-color);
  background-color: var(--body-color);
}
/*Scrollbar main line*/
::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color:var(--title-color);
}
/*Scrollbar main line hover & active*/
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active{
  background-color:var(--first-color);
}

/*=============== REUSABLE CSS CLASSES ===============*/

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.section__height {
  height: 100vh;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 1000px; /*Full width page*/
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid{
  display: grid;
  gap:1.25rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  z-index: var(--z-fixed);
  transition: .4s;
}

/*=============== NAV ===============*/

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

.nav__img {
  width: 32px;
  border-radius: 50%;
}

.nav__logo {
  color: var(--title-color);
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}



.nav__icon-theme:hover,.nav__logo:hover
{
  transform: scale(1);
  color:var(--title-color);
}
.nav__icon-theme:active,.nav__logo:active
{
  transition: all 0.1s ease-in-out;
  transform: scale(0.85);
  color:var(--first-color);
}

.section {
  padding: 1.5rem 0 2rem;
}

/*=============== Here I split the navbar ===============*/

@media screen and (max-width: 767px) {
  .header
  {
    position:static;
  }

  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px var(--color-shadow-navDown); /*Box shadow nav down*/
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
    z-index: 1;
  }

  .nav__icon-theme:hover, .nav__logo:hover
  {
    transition: all 0.2s ease-in-out;
    transform: scale(1);
    color:var(--title-color);
  }
  .nav__icon-theme:active,.nav__logo:active
  {
    transform: scale(0.9);
    color:var(--first-color);
  }
  

}

.nav__list, 
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 400;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: var(--tiny-font-size);
  /* display: none;*/ /* Minimalist design, hidden labels */
}

.nav__icon,.nav__icon-theme {
  font-size: 1.5rem;

}
.nav__icon-theme{
  transition: all 0.2s ease-in-out;
  color:var(--title-color);
}

/*.nav__icon-theme:hover, .nav__logo:hover
{
  transition: all 0.2s ease-in-out;
  transform: scale(1);
  color:var(--title-color);
}
.nav__icon-theme:active,.nav__logo:active
{
  transform: scale(0.9);
  color:var(--first-color);
}*/

/*Active link*/
.active-link {
  position: relative;
  color: var(--first-color);
  transition: .3s;
  font-weight: 700;
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}


/*=============== LANGUAGES (LANG) ===============*/

.container-lang
{
  display: flex;
  justify-content: center;
}

.langWrap
{
    display: flex;
    border-radius: 50px;
    justify-content: center;
    align-self: center;
    transition: .4s;
}

.langWrap a{
    border-radius: 50px;
    text-transform: uppercase;
    color: var(--title-color);
    text-decoration: none;
    padding:0 10px;
    font-size: 1rem;
    transition: .4s;
    text-align: center;
    margin:0;
    border:1px solid transparent;
}

.langWrap a.lang-active
{
    background: var(--container-color);
    color: var(--first-color);
    font-weight: 800;
    border-color:none;
    border:1px solid var(--first-color);
    transition: .2s;
}

.a-lang{
  font-size: 1.25rem;
  cursor: pointer;
  transition: .3s;
  transition: all 0.2s ease-in-out;
}

.a-lang:hover{
  transform: scale(0.9);
}


.lang-active
{
  font-size: 1.25rem;
  cursor: pointer;
  transition: .3s;
}

/*=============== HOME ===============*/
/*--------Text---------*/
.home__container{
  position:relative;
  row-gap: 2rem;
  /*padding-top: 2rem;*/
}

.home-all{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*gap:calc(7vh);*/
  height:calc(100vh - 3rem);
  gap:20px;
}

.home__data{
  text-align: center;
}

.home__greeting,
.home__education{
  font-size: 1.17rem;
  font-weight: 400;
}



.home__greeting{
  display: block;
  color:var(--text-color);
}

.home__education{
  color:var(--text-color);
  margin-bottom: 2.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
}



.home__name{
  color:var(--title-color);
  font-size: var(--h1-font-size);
  line-height: 2.2rem;
  margin:1rem;
  color:var(--title-color);
  text-shadow: 4px 4px 2px var(--first-color);
  display: inline-block;
  -webkit-transition: transform 200ms;
  -webkit-transition: -webkit-transform 200ms;
  transition: all 200ms;
}




















/*--------Image---------*/
.home__handle{
  justify-self: center;
  width: calc(30vh);
  height: calc(30vh);
  border-radius: 10rem 10rem 1rem 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /*background: var(--background-home-img);*/
  background: var(--background-home-img);
}

.home__img{
  width:inherit;
  border-radius: 10rem 10rem 1rem 1rem;
  overflow: hidden;
}

.home__buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1.5rem;
}

/*--------Social Media---------*/


.picsNet-Container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
}

.home__social{
  row-gap: .5rem;
  display: flex;
}

.home__social-link
{
  width:max-content;
  background-color:var(--container-color);
  color:var(--first-color);
  padding: 0.4rem;
  border-radius: 50%;
  display:flex;
  font-size:2rem;
  transition: all 0.2s ease-in-out;
  margin:0 10px 0 10px;
}

.home__social-link:hover{
  background-color:var(--first-color);
  color:#fff;
  transform: scale(1.2);
}

.home__social-link.linkedin:hover
{
  background-color:#2766B2;
}

.home__social-link.github:hover
{
  background-color:#333;
}

.home__social-link.twitter:hover
{
  background-color:#1C99E6;
}

/*--------Buttons---------*/
.button{
  display:inline-block;
  background-color:var(--first-color);
  color:var(--body-color);
  padding:.75rem 1rem;
  border-radius: .5rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  margin-bottom: 1.5rem;
}

.button:hover{
  background-color:var(--first-color-alt);
  color:var(--body-color);
  animation: swing 1s ease;
  animation-iteration-count: 1;
}
@keyframes swing {
  15% {
  transform: translateX(5px);
  }
  30% {
  transform: translateX(-5px);
  }
  50% {
  transform: translateX(3px);
  }
  65% {
  transform: translateX(-3px);
  }
  80% {
  transform: translateX(2px);
  }
  100% {
  transform: translateX(0);
  }
}

.button--ghost{
  background-color:transparent;
  border:2px solid var(--first-color);
  color:var(--first-color);
}

.button--ghost {
  display: flex;
  justify-content: center;
  align-items: center;
}




































/*=============== MEDIA QUERIES ===============*/
/* For small devices */
/* Remove if you choose, the minimalist design */
@media screen and (max-width: 340px) {
  .nav__name {
    display: none;
  }
}


/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: -1rem 0 -1rem 0;
  }
  
  .section {
    padding: 6.5rem 0 2rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem); /* 4.5rem */
  }
  .nav__img {
    display: none;
  }
  .nav__icon {
    display: none;
  }
  .nav__name {
    font-size: var(--normal-font-size);
    /* display: block; */ /* Minimalist design, visible labels */
  }
  .nav__link:hover {
    color: var(--first-color);
  }

  .active-link::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    width: 4px;
    height: 4px;
    background-color: var(--first-color);
    border-radius: 50%;
  }

  .home__greeting,
  .home__education{
  font-size: 1.4rem;
  font-style: normal;
}
.home__name{
  font-size: 3.8rem;
  margin:2.5rem;
}

}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .nav__name {
    font-size: 1rem;
    /* display: block; */ /* Minimalist design, visible labels */
  }
  .home__greeting,
  .home__education{
  font-size: 1.8rem;
  font-style: normal;
}
.home__name{
  font-size: 5rem;
  margin:3rem;
}
}