/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  --first-color: hsl(var(--hue), var(--sat), 40%);
  --second-color:#b16555; /*Green/Blue*/
  --first-color-alt: rgb(34, 145, 133);
  --title-color: hsl(var(--hue), 12%, 15%); /*Títle h2*/
  --text-color: hsl(var(--hue), 8%, 35%); 
  --body-color: hsl(var(--hue), 100%, 99%); /*Bgr color*/
  --container-color: rgb(238, 238, 238); /*Color Nav*/
  --color-shadow-navDown: hsla(var(--hue), var(--sat), 15%, 0.15); /*Shadow NavDown*/
  --background-home-img: linear-gradient(20deg, rgb(255, 255, 255) 35%, rgba(38,166,153,1) 86%);

  /*========== Font and typography ==========*/
  --body-font: 'Montserrat', sans-serif;
  --h1-font-size: 2.5rem;
  --normal-font-size: 1.14rem;
  --tiny-font-size: .675rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 3.5rem;
    --normal-font-size: 1.14rem;
  }
  .section {
    padding: 7rem 0 2rem;
  }
}

/*========== THEME ==========*/
.change-theme{
  font-size: 1.25rem;
  cursor: pointer;
  transition: .3s;
}



.change-theme:hover{
  color:var(--first-color);
}

/*========== Variables Dark Theme ==========*/
body.dark-theme{
  --first-color: hsl(var(--hue), var(--sat), 40%); /*Green/Blue*/
  --second-color:#b16555; /*Green/Blue*/
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: rgb(255, 255, 255); /*Títle h2*/
  --text-color: #c9c9c9;
  --body-color: rgb(29, 29, 29); /*Bgr color*/
  --container-color: rgb(31, 31, 31); /*Color Nav*/
  --color-shadow-navDown: none; /*Shadow NavDown*/
  --background-home-img:linear-gradient(20deg, rgb(29, 29, 29) 40%, rgba(38,166,153,1) 86%);
}


/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  transition: all 200ms;
}

body {
  /*margin: var(--header-height) 0 0 0;*/
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

/*=============== INITIAL ANIMATION TRANSITION LOADER ===============*/
.loader-container{
  position: fixed;
  top:0; left:0;
  z-index: 10000;
  background:var(--body-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  width:100%;
  opacity: 0;
  transition: all .3s ease-in-out;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .3s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 1;
	}
  50% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
	}
}
.loader-container.fade-out{
  top:-120%;
}


/*=============== SCROLLBAR ===============*/
/*General width*/
::-webkit-scrollbar{
  width:10px;  
}
/*Scrollbar full body*/
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 10px var(--body-color);
  background-color: var(--body-color);
}
/*Scrollbar main line*/
::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color:var(--title-color);
}
/*Scrollbar main line hover & active*/
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active{
  background-color:var(--first-color);
}

/*=============== REUSABLE CSS CLASSES ===============*/

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.section__height {
  height: 100vh;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 1300px; /*Full width page*/
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid{
  display: grid;
  gap:1.25rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER ===============*/
.header {
  /*fixed*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  z-index: var(--z-fixed);
  transition: .4s;
  overflow:hidden;
}

/*=============== NAV ===============*/

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

.nav__img {
  width: 32px;
  border-radius: 50%;
}

.nav__logo {
  color: var(--title-color);
  font-size: 1.4rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select:none;
  user-select: none;
}



.nav__icon-theme:hover,.nav__logo:hover
{
  transform: scale(1);
  color:var(--title-color);
}
.nav__icon-theme:active,.nav__logo:active
{
  transition: all 0.1s ease-in-out;
  transform: scale(0.85);
  color:var(--first-color);
}

.section {
  padding: 1.5rem 0 2rem;
}

/*=============== Here I split the navbar ===============*/

@media screen and (max-width: 767px) {
  .header
  {
    position:static;
  }

  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px var(--color-shadow-navDown); /*Box shadow nav down*/
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
    z-index: 20;
  }

  .nav__icon-theme:hover, .nav__logo:hover
  {
    transition: all 0.2s ease-in-out;
    transform: scale(1);
    color:var(--title-color);
  }
  .nav__icon-theme:active,.nav__logo:active
  {
    transform: scale(0.9);
    color:var(--first-color);
  }
}

.nav__list, 
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 400;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: var(--tiny-font-size);
  /* display: none;*/ /* Minimalist design, hidden labels */
}

.nav__icon,.nav__icon-theme {
  font-size: 1.5rem;

}
.nav__icon-theme{
  transition: all 0.2s ease-in-out;
  color:var(--title-color);
}

/*Active link*/
.active-link {
  position: relative;
  color: var(--first-color);
  transition: .3s;
  font-weight: 700;
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}


/*=============== LANGUAGES (LANG) ===============*/

.container-lang
{
  display: flex;
  justify-content: center;
}

.langWrap
{
    display: flex;
    border-radius: 50px;
    justify-content: flex-end;
    align-self: center;
    transition: .4s;
    width:120px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
    user-select: none;
}

.themeWrap
{
  display: flex;
  align-content: center;
}

.langWrap a{
    border-radius: 50px;
    text-transform: uppercase;
    color: var(--title-color);
    text-decoration: none;
    padding:0 10px;
    font-size: 1rem;
    transition: .4s;
    text-align: center;
    margin:0;
    border:1px solid transparent;

}

.langWrap a.lang-active
{
    background: var(--container-color);
    color: var(--first-color);
    font-weight: 800;
    border:1px solid var(--first-color);
    transition: .2s;
}

.a-lang{
  font-size: 1.25rem;
  cursor: pointer;
  transition: .3s;
  transition: all 0.2s ease-in-out;
}

.a-lang:hover{
  transform: scale(0.9);
}

.lang-active
{
  font-size: 1.25rem;
  cursor: pointer;
  transition: .3s;
}

/*=============== HOME SECTION ===============*/
/*=============== BGR LETTERS ===============*/
.overlay{
  width: inherit;
  height: inherit;
  margin:0;
  padding:0;
  position: absolute;
}

.letters{
  width:10rem;
  overflow: hidden;
  top:0;
  left: 0;
  opacity:0.1;
}

/*=============== BGR SHAPES ===============*/
.shapes .shape{
  width:initial;
  opacity: 0.2;
  position:absolute;
  color: var(--title-color);
  font-size: 1.5rem;
}

.square{
  right:10%;
  bottom:16%;
  transform: rotate(120deg);
} 
.circle-half{
  top:45%;
  left: 17%;
  transform: rotate(45deg);
}
.arrow{
  transform: rotate(30deg);
  right:20%;
  top:5%;
}

/*=============== HOME ===============*/
/*--------Text---------*/
.home__container{
  position:relative;
  row-gap: 2rem;
  /*padding-top: 2rem;*/
}

.home-all{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*gap:calc(7vh);*/
  height:calc(100vh - 3rem);
  gap:20px;
  position:relative;
  width:100%;
}

.home__data{
  text-align: center;
}

.home__greeting,
.home__education{
  font-size: 1.18rem;
  font-weight: 400;
}

.home__greeting{
  display: block;
  color:var(--text-color);
}

.home__education{
  color:var(--text-color);
  margin-bottom: 2.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
}



.home__name{
  color:var(--title-color);
  font-size: var(--h1-font-size);
  line-height: 2.2rem;
  margin:1rem;
  color:var(--title-color);
  text-shadow: 4px 2px 2px #b16555;
  display: inline-block;
}


/*--------Home Image---------*/
.home__handle{
  justify-self: center;
  width: calc(32vh);
  height: calc(32vh);
  border-radius: 59% 41% 89% 11% / 32% 11% 89% 68%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /*background: var(--background-home-img);*/
  background: var(--background-home-img);
  position: relative;
}

.home__img {
  width:inherit;
  overflow: hidden;
}

#head{
  animation: movingHead 3s ease infinite;
  transform-origin: center;
  transform-box: fill-box ;
}

@keyframes movingHead{
  from{
    transform: rotateZ(5deg);
  }
  to{
    transform: rotateZ(10deg);
  }
}

/*--------Buttons---------*/
.home__buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1.5rem;
}

/*--------Social Media---------*/
.picsNet-Container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
}

.home__social{
  row-gap: .5rem;
  display: flex;
}

.home__social-link
{
  width:max-content;
  background-color:var(--container-color);
  color:var(--first-color);
  padding: 0.4rem;
  border-radius: 50%;
  display:flex;
  font-size:2rem;
  transition: all 0.2s ease-in-out;
  margin:0 10px 0 10px;
}

.home__social-link:hover{
  background-color:var(--first-color);
  color:#fff;
  transform: scale(1.2);
}

.home__social-link.linkedin:hover
{
  background-color:#2766B2;
}

.home__social-link.github:hover
{
  background-color:#333;
}

.home__social-link.twitter:hover
{
  background-color:#1C99E6;
}

/*--------Buttons---------*/
.button{
  display:inline-block;
  background-color:var(--first-color);
  color:var(--body-color);
  padding:.75rem 1rem;
  border-radius: .5rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.button:hover{
  background-color:var(--first-color-alt);
  color:var(--body-color);
  animation: swing 1s ease;
  animation-iteration-count: 1;
}
@keyframes swing {
  15% {
  transform: translateX(5px);
  }
  30% {
  transform: translateX(-5px);
  }
  50% {
  transform: translateX(3px);
  }
  65% {
  transform: translateX(-3px);
  }
  80% {
  transform: translateX(2px);
  }
  100% {
  transform: translateX(0);
  }
}

.button--ghost{
  background-color:transparent;
  border:2px solid var(--first-color);
  color:var(--first-color);
  background: var(--container-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .button--ghost:hover{
  background-color:var(--second-color);
} */


/*=============== ABOUT SECTION ===============*/
/*Subtitle :)*/
.subtitleSection{
  font-size: .700rem;
  color: var(--first-color);
  text-align: center;
  margin-bottom: 0;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
}
/*About me*/
.section__title{
  position:relative;
  padding-bottom: 10px;
}
/*Underline*/
.section__title:after{
  content: "";
  position: absolute;
  width:100px;
  height: 5px;
  border-radius: 3px;
  background-color: var(--first-color);
  bottom:0;
  left:50%;
  transform:translateX(-50%);
}
/*About general container*/
.about__container{
  height: auto;
  display: flex;
  flex-direction: column;
}
/*Image & Description container*/
.about__main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  height: auto;
}
/*Image*/
.about__image{
  width:400px;
  justify-self: center;
}
/*Description container*/
.about__info{
  margin:2.5rem 1rem 1rem 1rem;
  text-align: justify;
}
/*Description*/
.about__txt{
  position:relative;
  text-align: justify;
  color:var(--text-color);
  font-size: 1.14rem;
  font-weight: 400;
}
.about__special__txt{
  color:var(--first-color);
  font-weight: 600;
}

/*Phrase container*/
.about__phrase{
  height: auto;
  position: relative;
  display: inline-block;
  text-align: center;
}
/*Phrase backgroung*/
.about__phrase_bgr{
  opacity:0.3;
  background-size: cover;
  text-align: center;
  width:auto;
  height: 100%;
  justify-self: center;
  transform: rotate(180deg);
}
/*About."Never stop"*/
.about__Message_p1{
  color:var(--title-color);
  position: absolute;
  top: 40%;
  left: 35%;
  width:fit-content;
  width: -moz-fit-content;
  transform: translate(-40%, -40%);
  font-weight: 700;
  font-size: 2rem;
  background: var(--first-color);
  background: -webkit-linear-gradient(to right, var(--first-color) 0%, var(--title-color) 85%);
  background: -moz-linear-gradient(to right, var(--first-color) 0%, var(--title-color) 85%);
  background: linear-gradient(to right, var(--first-color) 0%, var(--title-color) 85%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select:none;
  user-select: none;
}
/*About."learning*/
.about__Message_p2{
  color:var(--title-color);
  position: absolute;
  top: 50%;
  left: 50%;
  width:fit-content;
  width: -moz-fit-content;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 2rem;
  background: var(--first-color);
  background: -webkit-linear-gradient(to left, var(--first-color) 0%, var(--title-color) 85%);
  background: -moz-linear-gradient(to left, var(--first-color) 0%, var(--title-color) 85%);
  background: linear-gradient(to left, var(--first-color) 0%, var(--title-color) 85%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select:none;
  user-select: none;
}
/*Icon Smile*/
.hive{
  right:30%;
  top:23%;
  transform: rotate(45deg);
} 
/*Icon Palette*/
.palette{
  right:76%;
  bottom:30%;
} 
/*Icon three shapes*/
.happy{
  right:20%;
  bottom:12%;
  transform: rotate(30deg);
} 



/*=============== SKILLS SECTION ===============*/
/*Skills general container*/
.skills__container{
  height: auto;
  display: flex;
  flex-direction: column;
}
/*Image & Description container*/
.skills__main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  height: auto;
}
/*Image*/
.skills__image{
  width:400px;
  justify-self: center;
}
/*Description container*/
.skills__info{
  margin:2.5rem 1rem 1rem 1rem;
  text-align: justify;
}
/*Description*/
.skills__txt{
  position:relative;
  text-align: justify;
  color:var(--text-color);
  font-size: var(--normal-font-size);
  font-weight: 400;
}
.skills__special__txt{
  color:var(--first-color);
  font-weight: 500;
}
/*Button container skills*/
.skillsButtonContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
}
/*Button Platzi*/
.skillsButtonPlatzi{
  margin-top: 2rem;
  margin-bottom: 2rem;
  width:max-content;
}
/*.........Skills........*/
/*Main content skills*/
.skills__container__cards{
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding-top: 1rem;
  width:auto;
  margin-top: -10px;
  margin-bottom: 20px;
}
/*Content*/
.skills__content{
  background-color: var(--container-color);
  padding:1.5rem;
  border-radius: 1.25rem;
  -webkit-box-shadow: 0px 3px 0px 2px rgba(0,0,0,0.1), 0px 6px 0px 4px rgba(0,0,0,0.1), -32px -3px 39px 30px rgba(38,166,153,0); 
  box-shadow: 0px 3px 0px 2px rgba(0,0,0,0.1), 0px 6px 0px 4px rgba(0,0,0,0.1), -32px -3px 39px 30px rgba(38,166,153,0);
}
/*Skill title*/
.skills__title{
  font-size: 1.3rem;
  font-weight: 700;
  color:var(--first-color);
  text-align: center;
  margin-bottom: 1.5rem;
}
/*Skill divider column*/
.skills__box{
  display:flex;
  justify-content: center;
  column-gap:3rem;
}
/*Space between skill*/
.skills__group{
  display: grid;
  align-content: center;
  row-gap: 1rem;
}
/*Join the SVG and the text*/
.skills__data{
  display: flex;
  column-gap: .5rem;
  align-items: center;
}
/*Icon of the skill*/
.skill__icon {
  font-size: 1.7rem;
  width:30px;
  color:var(--first-color);
}
/*Skill name*/
.skills__name{
  font-size: 1.1rem;
  font-weight: 500;
}
.skillsTxt2{
  margin-bottom: 1.5rem;
}
/*Motivational Phrase*/

/*Phrase container*/
.skill__phrase,.work__phrase{
  height: auto;
  position: relative;
  display: inline-block;
  text-align: center;
}
/*Phrase backgroung*/
.skill__phrase_bgr,.work__phrase_bgr{
  opacity:0.3;
  background-size: cover;
  text-align: center;
  width:auto;
  height: 100%;
  justify-self: center;
  transform: rotate(180deg);
}
/*Skill."Roma wasn't"*/
.skill__Message_p1,.work__Message_p1{
  color:var(--title-color);
  position: absolute;
  top: 40%;
  left: 50%;
  width:fit-content;
  width: -moz-fit-content;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 2rem;
  background: var(--first-color);
  background: -webkit-linear-gradient(to right, var(--first-color) 0%, var(--title-color) 85%);
  background: -moz-linear-gradient(to right, var(--first-color) 0%, var(--title-color) 85%);
  background: linear-gradient(to right, var(--first-color) 0%, var(--title-color) 85%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select:none;
  user-select: none;
}
/*Skill."build in*/
.skill__Message_p2,.work__Message_p2{
  color:var(--title-color);
  position: absolute;
  top: 50%;
  left: 50%;
  width:fit-content;
  width: -moz-fit-content;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  color:var(--title-color);
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select:none;
  user-select: none;
}
/*Skill."one day*/
.skill__Message_p3,.work__Message_p3{
  color:var(--title-color);
  position: absolute;
  top: 60%;
  left: 50%;
  width:fit-content;
  width: -moz-fit-content;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 2rem;
  background: var(--first-color);
  background: -webkit-linear-gradient(to left, var(--first-color) 0%, var(--title-color) 85%);
  background: -moz-linear-gradient(to left, var(--first-color) 0%, var(--title-color) 85%);
  background: linear-gradient(to left, var(--first-color) 0%, var(--title-color) 85%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select:none;
  user-select: none;
}
.prueba{
  text-align: center;
  background-color: #b16555;
}
/*Icon Pyramid*/
.pyramid{
  left:30%;
  top:20%;
  transform: rotate(20deg);
} 
/*Icon Extension*/
.extension{
  left:80%;
  bottom:65%;
  transform: rotate(10deg);
} 
/*Icon Plus*/
.plus{
  right:60%;
  bottom:0%;
  transform: rotate(30deg);
} 



/*=============== PORTFOLIO/WORK SECTION ===============*/
/*Container: Full portfolio*/
.portfolio__container{
  height: auto;
  display: flex;
  flex-direction: column;
}
/*Mini navbar for filters*/
.work__filters{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  height: auto;
}
/*Container: Full card works*/
.work__container{
  padding-top: 1rem;
  height: auto;
}
/*Item Navbar filter*/
.work__item{
  cursor: pointer;
  color:var(--title-color);
  padding:.25rem .75rem;
  font-weight: 500;
  border-radius: .5rem;
}
/*Each card.*/
.work__card{
  background-color: var(--container-color);
  border-radius: 1rem;
  -webkit-box-shadow: 0px 3px 0px 2px rgba(0,0,0,0.1), 0px 6px 0px 4px rgba(0,0,0,0.1), -32px -3px 39px 30px rgba(38,166,153,0); 
  box-shadow: 0px 3px 0px 2px rgba(0,0,0,0.1), 0px 6px 0px 4px rgba(0,0,0,0.1), -32px -3px 39px 30px rgba(38,166,153,0);
  height: auto;
  position:relative;
  overflow: hidden;
}
/*Mask for hover*/
.work__card .mask{
  background: rgba(0,0,0,.9);
  position:absolute;
  left:0;
  top:0;
  height: 100%;
  width: 100%;
  transition: 0.3s;
  opacity: 0;
}
/*Mask hover*/
.work__card:hover .mask{
  opacity: 0.97;
}
/*Work tag*/
.work__tag{
  color:white;
  background:var(--first-color);
  position:absolute;
  top:0;
  left:0;
  border-bottom-right-radius: 0.98rem;
  font-size: 0.92rem;
  display: inline-block;
  padding:1rem 0.625rem;
  text-align: center;
  transition:0.3s;
  transform: translateY(-40px);
  opacity: 0;
}
/*Work buttons*/
.work__button1,.work__button2{
  color:white;
  position:absolute;
  top:.5rem;
  display: block;
  height:auto;
  width:auto;
  border-radius: 50%;
  text-align: center;
  font-size: 1.7rem;
  display:flex;
  justify-content: center;
  padding: .3rem;
  transition: 0.3s;
  transform: translateX(40px);
  opacity: 0;
}
/*Work buttons align*/
.work__button1{
  right:.3rem;
}
.work__button2{
  right:3rem;
}
/*Work buttons hover*/
.work__button1:hover,.work__button2:hover{
  color:white;
  background-color: var(--first-color);
}
/*Work description*/
.portfolio-item-description{
  color:white;
  font-size: 1rem;
  margin:0 .98rem 0 .98rem;
  padding:0.125rem;
  position:absolute;
  width:auto;
  top:3.75rem;
  text-align: center;
  left:0;
  transition: 0.3s;
  transform: translateY(30px);
  opacity: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select:none;
  user-select: none;
}
/*Opacity final effect*/
.work__card:hover p,.work__card:hover span, .work__card:hover a{
  opacity: 1;
  transform: translateY(0);
}
.work__card:active p,.work__card:active span, .work__card:active a{
  opacity: 1;
  transform: translateY(0);
}

/*Card image.*/
.work__img{
  border-radius: 1rem 1rem 0 0;
  margin-bottom: .50rem;
  border-bottom: 1px solid var(--color-shadow-navDown);
  width: 100%;
  object-fit:cover;
}
/*Work title*/
.work__title{
  font-size:var(--normal-font-size);
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.75rem;
  color:var(--title-color);
}
/*Active item work*/
.active-work{
  background-color: var(--first-color);
  color:var(--body-color);
}

/*Icon Group*/
.group{
  left:20%;
  top:30%;
  transform: rotate(-10deg);
} 
/*Icon Chevrons*/
.chevrons{
  left:80%;
  bottom:30%;
  transform: rotate(10deg);
} 
/*Icon Target*/
.target{
  right:60%;
  bottom:7%;
  transform: rotate(50deg);
} 


/*=============== CONCTACT SECTION ===============*/
/*General*/
.contact__container{
  row-gap: 3rem;
  padding-bottom: 3rem;
}
.contact__title{
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}
.contact__info{
  display: grid;
  gap:1rem;
}
/*Cards info*/
.contact__card{
  background-color: var(--container-color);
  padding:1rem;
  border-radius: .75rem;
  text-align: center;
  -webkit-box-shadow: 0px 6px 0px -3px rgba(0,0,0,0.11); 
  box-shadow: 0px 6px 0px -3px rgba(0,0,0,0.11);
}
.contact__card-icon{
  font-size: 2rem;
  color:var(--title-color);
  margin-bottom: .25rem;
}
.contact__card-title,
.contact__card-data{
  font-size: 1.1rem;
}
.contact__card-title{
  font-weight: 700;
}
.contact__card-data{
  display: block;
  margin-bottom: .75rem;
}
/*Contact button*/
.contact__button{
  color:var(--first-color);
  font-size: 1.1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: .25rem;
  transition:.3s;
}
.contact__button:hover{
  color:var(--first-color-alt);
  font-weight:bold;
  
}
.contact__button:hover .contact__button-icon{
  transform: translateX(.50rem);
}
.contact__button-icon{
  font-size: 2rem;
  transition: .4s;
}
/*Form*/
/* .contact__form-div{
  position:relative;
  margin-bottom: 2rem;
  height: 4rem;
}
.contact__form-input{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  border:2px solid red;
  background: none;
}
 */
/*Form*/
.contact__form-div
{
  position:relative;
  margin-bottom: 2rem;
  height: 4rem;
  background: none;
}
.contact__form-input{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  border:1px solid var(--text-color);
  border-radius: .5rem;
  outline:none;
  padding:1rem;
  background: none;
  z-index: 1;
  color:var(--title-color);
}
.contact__form-tag{
  position: absolute;
  left:1rem;
  top:1rem;
  padding:0 .25rem;
  background-color: var(--body-color);
  color:#686868;
  font-size: var(--normal-font-size);
  transition: .2s;
}
.contact__form-input:focus + .contact__form-tag{
  top:-.5rem;
  left:.8rem;
  color:var(--first-color);
  font-size: var(--tiny-font-size);
  font-weight: 500;
  z-index: 10;
}
.contact__form-input:not(:placeholder-shown).contact__form-input:not(:focus)+.contact__form-tag{
  top:-.5rem;
  left:.8rem;
  font-size: var(--tiny-font-size);
  font-weight: 500;
  z-index: 10;
  color:var(--text-color);
  border-radius:10px;
}
.contact__form-input:focus{
  border:1.5px solid var(--first-color);
}
/*Form textarea*/
.contat__form-area{
  height: 11rem;
}
.contact__form-area, textarea{
  resize:none;
}
/*Contact text*/
.contact__text{
  position: relative; 
  text-align: center;
  color: var(--text-color);
  font-size: 1.14rem; 
  font-weight: 400;
  margin-top:3rem;
  margin-bottom:2.5rem;
}









/*=============== MEDIA QUERIES ===============*/
/* For small devices */
/* Remove if you choose, the minimalist design */
@media screen and (max-width: 340px) {
  .nav__name{
    display: none;
  }
  /*Work description*/
  .portfolio-item-description{
    font-size: .900rem;
}
  .skills__name{
    font-size: .900rem;
  }
  .work__item{
    font-size: 1rem;
  }
}


/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }
  .work__container{
    justify-content: center;
  }
  .work__img{
    width: 400px;
  }
  /*Work description*/
  .portfolio-item-description{
  font-size: 1rem;
  margin-top: 35px;
  }
  .contact__info{
    grid-template-columns:300px;
    justify-content: center;
  }
  .contact__form{
    width:360px;
    margin:0 auto;
  }

}
  
@media screen and (max-width: 576px) {
.overlay{
  display: none;
}
}

@media screen and (min-width: 767px) {
  body {
    margin: -1rem 0 -1rem 0;
  }
  
  .section {
    padding: 6.5rem 0 2rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem); /* 4.5rem */
  }
  .nav__img {
    display: none;
  }
  .nav__icon {
    display: none;
  }
  .nav__name {
    font-size: var(--normal-font-size);
    /* display: block; */ /* Minimalist design, visible labels */
  }
  .nav__link:hover {
    color: var(--first-color);
  }

  .active-link::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    width: 4px;
    height: 4px;
    background-color: var(--first-color);
    border-radius: 50%;
  }

  .home__greeting,
  .home__education{
  font-size: 1.4rem;
  font-style: normal;
}

.about__image,.skills__image{
  width:50%;
}
.home__name{
  font-size: 3.8rem;
  margin:2.5rem;
}
.about__main{
  display: flex;
  flex-direction: row;
}
.skills__main{
  display: flex;
  flex-direction: row-reverse;
}
.about__Message_p1,
.about__Message_p2,
.skill__Message_p1,
.skill__Message_p2,
.skill__Message_p3,
.work__Message_p1,
.work__Message_p2,
.work__Message_p3{
  font-size: 2.8rem;
}
.skills__container__cards{
  flex-direction: row;
  justify-content: center;
  gap:3rem;
  margin-top: 20px;
}
.skills__title{
  font-size: 1.4rem;
}
.skills__name{
  font-size: 1.1rem;
}
.skill__icon{
  width: 40px;
}
.work__container{
  grid-template-columns: repeat(2,max-content);
}
.work__img{
  width:330px;
}
/*Work description*/
.portfolio-item-description{
font-size: 1rem;
margin-top: 10px;
  }
.contact__container{
  grid-template-columns: repeat(2,max-content);
  justify-content: center;
  column-gap: 4rem;
}
/*Contact text*/
.contact__text{
  font-size: var(--normal-font-size);
}
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .nav__name {
    font-size: 1rem;
    /* display: block; */ /* Minimalist design, visible labels */
  }
  .home__greeting,
  .home__education{
  font-size: 1.8rem;
  font-style: normal;
}
.home__name{
  font-size: 5rem;
  margin:3rem;
}
.about__txt,.skills__txt,.contact__text{
  font-size:1.3rem;
}
.contact__text{
  width:70%;
}
.about__Message_p1,
.about__Message_p2,
.skill__Message_p1,
.skill__Message_p2,
.skill__Message_p3,
.work__Message_p1,
.work__Message_p2,
.work__Message_p3{
  font-size: 3.5rem;
}
.work__container{
gap:2.5rem
}
.work__img{
  width:450px;
}
/*Work description*/
.portfolio-item-description{
  font-size: var(--normal-font-size);
  margin-top: 40px;
  }
  .contact__container{
    column-gap: 8rem;
  }
}